.container {
    background-color: #016BF8;
    color:#ffffff;
    border: none;
    font-size: 16px;
    height: 36px;
    width: 100%;
    border-radius: 4px;
    display: flex;
    align-items: center;
    justify-content: center;

    transition: 100ms;
}

.container:hover {
  background-color: #00357B;
}

.container svg {
    height: 20px;
    width: 20px;
    margin-right: 4px;
}