:root {
    --black-blue: #04141C;
    --darck-blue: #001E2B;
    --white: #ffffff;
    --info: #016BF8;
    --info-hover: #00357B;
    --light: #828282;
    --neutral: #575757;
    --error: #DB3030;
    --error-hover: #9D1919;
}


*{
    margin: 0;
    padding: 0;
    outline: 0;
    box-sizing: border-box;
    font-family: "Lexend", sans-serif;
}

button {
    cursor: pointer;
}